
/*  *{border: 1px solid red !important; show box lines}*/

@media only screen and (min-width: 1200px) {
    /* styles for large screens */
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}

*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;/*OTHER: font-family: 'Tajawal', sans-serif;
*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.grid {
    margin: 0 auto;
    max-width: 1200px; /*max normal resolution screen*/
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;/*this will make the columns align next to each other, if their width is defined*/
    flex-wrap: wrap;
}

.contact{

}

h1,
h3{
    color: lawngreen;
}

.top-navi{
    width: cover;
}
.top-navi li{
    display: inline-block;
    width: 270px;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    padding: 20px;
    margin: auto;
    background-color: rgba(124, 252, 0, 0.6);
}

.banner{
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
}



.footer{
    background-color: rgba(124,252,0, 0.5);
    padding: 20px;
    
}

*/DEFINE COLS POSITIONS*/

.col-left{
    grid-column: 10 / -1;
}

.col-4 p{
  padding:15px;
}

/*define cols of all sizes 1/12 to 12/12*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-12 p{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
}

.hi{
   font-weight: bold;
   font-size: 40px;

}
