
/*
*{
    border: 1px solid red !important; show box lines
}
*/

*{   
    font-family: 'Lato', sans-serif;
    font-weight: 300;/*OTHER: font-family: 'Tajawal', sans-serif;
*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}




.grid {
    margin: 0 auto;
    max-width: 1200px; /*max normal resolution screen*/
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;/*this will make the columns align next to each other, if their width is defined*/
    flex-wrap: wrap;    
}

.banner col-10{
    background-color: rgba(255, 165, 0, 0.5);
}

.col-10 h1,
h3{
    margin-left: 600px;   
}

.footer{
    background-color: rgba(255, 165, 0, 0.5);
    padding: 20px;
}

/*define cols of all sizes 1/12 to 12/12*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    padding: 20px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-12 p{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
}

.hi{
   font-weight: bold;  	
   font-size: 40px;

}


